* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  margin-top: 50px;
  height: 400px;
  background-color: #1f271b;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 530px;
  height: 800px;
  border: 1px solid;
}

.text {
  grid-column: span 4;
  height: 30px;
  width: 460px;
  height: 80px;
}

.btn {
  width: 100px;
  height: 100px;
  font-size: 25px;
  margin: 5px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid;
  background-color: #ee4266;
}

button:hover {
  opacity: 0.7;
}

.clear {
  width: 500px;
  height: 100px;
  border: 1px solid;
  background-color: #ee4266;
  font-size: 25px;
}
#output {
  width: 500px;
  height: 100px;
  background-color: #00bfff;
  margin-left: 15px;
  padding: 5px;
  border: 1px solid;
  font-size: 40px;
}
